#landing {
  height: 100vh;
  padding: 0;
}

.landing_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}

.cookie-popup {
  min-width: 100%;
  position: fixed;
  z-index: 999;
  background: #e6dec7;
  bottom: 0px;
  opacity: 0.9;
  padding: 0 1rem;
}

.cookie-popup a {
  cursor: pointer;
  color: rgb(76, 29, 12);
}

.dismissed {
  display: none;
}

.hyphened {
  display: none;
}

.taxText {
  font-size: 0.65rem;
  margin-left: -1.2rem;
}

.HomeDeliveryDiv {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 28%;
  z-index: 5;
}

.cakeDeliveryDiv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.newOfferDiv {
  position: absolute;
  top: -98%;
  right: -9%;
}
.newOfferDiv2 {
  float: right;
  margin-right: -1.7rem;
  margin-top: -1.3rem;
}
.offerSVG {
  height: 5rem;
  width: 5rem;
  animation: pulse 2s infinite;
}
.offerSVG2 {
  height: 5rem;
  width: 5rem;
  animation: pulse 2s infinite;
}
.SmallText {
  display: block;
  padding: 0;
  width: 20rem;
  padding: 0.5rem;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
  height: 3.5rem;
  font-size: 0.9rem;
  color: white;
  line-height: 1;
}

.HomeDelivery {
  display: block;
  padding: 0;
  background: var(--dark-green);
  border-radius: 2px;
  width: 20rem;
  padding: 0.5rem;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  height: 3.5rem;
  font-size: 1.2rem;
  border: 3px solid #fff;
  line-height: 1;
}

.HomeDelivery:active {
  background: var(--light-brown);
}

.HomeDeliveryIcon {
  position: absolute;
  left: 1rem;
  color: #fff;
  padding: 0.3rem 0;
}

.cakeDelivery {
  display: block;
  padding: 0;
  background: #f01d65;
  border-radius: 2px;
  width: 20rem;
  padding: 0.8rem;
  padding-left: 2.7rem;
  padding-right: 1.5rem;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  height: 3.5rem;
  font-size: 1.2rem;
  border: 3px solid #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* display: block;
  padding: 0;
  background: #f01d65;
  border-radius: 2px;
  width: 20rem;
  padding: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  height: 3.5rem;
  font-size: 0.9rem;
  border: 3px solid #fff;
  color: white; */
}

.Title {
  font-size: 3rem;
  margin-top: 5rem;
}

/*starburst style */

.starburst {
  width: 5rem;
  height: 5rem;
  text-align: center;
  color: #fff;
}

.starburst,
.starburst span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-brown);
  font-size: 1rem;
  /*animation: rotate 10s linear reverse infinite;*/
  animation: pulse 2s infinite;
  position: relative;
}

.HomeDeliveryIconText {
  padding-top: 0px;
  margin-left: -1rem;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    /* background: var(--dark-pink); */
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    /* background: var(--dark-pink); */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.starburst span {
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(45deg);
}

.starburst:before,
.starburst:after,
.starburst span:before,
.starburst span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  transform: rotate(30deg);
}

.starburst:after {
  transform: rotate(-30deg);
}

.starburst span:after {
  transform: rotate(30deg);
}
.starburst span:before {
  transform: rotate(-30deg);
}

#example-2 {
  left: 85%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -20%;
}

.newOffer {
  position: absolute;
  top: -94%;
  font-size: 1.2rem;
  right: -5%;
  color: white;
  word-break: break-all;
  font-weight: 100;
  width: 40px;
  text-align: center;
}
.menuText {
  position: absolute;
  left: 0;
  top: -50%;
  font-size: 1.2rem;
  color: white;
}

/* starburst end */

/*QR Code Start*/
.qrCodeImg {
  height: 100px;
}
.floatImg {
  height: 100px;
  width: 100px;
  margin-left: -3rem;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floatIconBtn {
  /* background-color: #f01d65 !important; */
  height: 140px;
  width: 140px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.floatAction {
  background-color: #f01d65 !important;
  height: 100px !important;
  width: 100px !important;
  margin-left: -3rem !important;
  border-radius: 0 !important;
}

/*QR Code End*/

/* Large screen and ipad pro landscape mode */
@media only screen and (max-width: 1400px) {
}

/* ipad pro*/
@media only screen and (max-width: 1024px) {
  .hyphened {
    display: inline-block;
  }
  .full-text {
    display: none;
  }

  .HomeDeliveryDiv {
    top: 31%;
  }
  .cakeDeliveryDiv {
    top: 35%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .newOfferDiv2 {
    margin-right: -1.7rem;
    margin-top: 2rem;
  }
}

/* iphone 6,7,8 landscape*/
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .HomeDeliveryDiv {
    top: 32%;
  }
  .cakeDeliveryDiv {
    top: 40%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
}

/* ipad portrait*/
@media only screen and (max-width: 768px) {
  .HomeDeliveryDiv {
    top: 31%;
  }
  .cakeDeliveryDiv {
    top: 37%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .newOfferDiv2[data-_content-3] {
    margin-right: -1.7rem;
    margin-top: 2rem;
  }
}

.agb_btn {
  background-color: var(--dark-pink);
  border-radius: 5px;
  box-shadow: 0 25px 40px -20px var(--dark-pink);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.agb_btn:hover {
  box-shadow: 0 30px 50px -20px var(--dark-green);
  background-color: var(--dark-green);
}
/* Potrait iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL */
@media only screen and (max-width: 414px) {
  .cakeDeliveryDiv {
    top: 37%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .newOfferDiv2 {
    margin-right: -1.7rem;
    margin-top: 2rem;
  }
}
/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 375px) {
  .cakeDeliveryDiv {
    top: 37%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .cakeDeliveryIcon {
    left: 0.7rem;
  }
}

/* Landscape iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3*/
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .HomeDeliveryDiv {
    top: 32%;
  }
  .cakeDeliveryDiv {
    top: 45%;
  }
  .cakeDelivery {
    position: absolute;
    padding: 0rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: left;
  }
}

/* Landscape iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
  .HomeDeliveryDiv {
    top: 32%;
  }
  .cakeDeliveryDiv {
    top: 45%;
  }
}


.banner{
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/image3.webp"); */
  background-size: cover;
  background-position-x: 41%;
  background-position-y: center;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  z-index: 5;
}

.content button{
  background-color: #f01d65;
  border: white solid 5px;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  text-align: left;
  border-radius: 15px;
  padding: 20px 20px;
}

.content b{
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.cakeDeliveryIcon {
  /* position: absolute; */
  /* left: 1rem; */
  /* margin-top: -0.2rem; */
  color: #fff;
  font-size: 55px;
}

/* sweet alert */
::ng-deep .swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 4px !important;
  background: initial;
  background-color: rgb(76, 29, 12) !important;
  color: #fff;
  font-size: 2.5rem !important;
  box-shadow: none !important;
}

::ng-deep .swal2-popup {
  font-size: 2rem !important;
}

::ng-deep .swal2-icon.swal2-warning {
  border-color: rgb(234, 101, 124);
  color: rgb(234, 101, 124);
}

::ng-deep .swal2-title {
  color: #bc9756 !important;
  font-size: 50px !important;
  display: block !important;
}

::ng-deep .swal2-content{
  font-size: 1.3em !important;
}

::ng-deep .swal2-select {
  display: none;
}