.overlayForSpinner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  z-index: 4000;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 47%;
  top: 40%;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #bc9756;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  /* animation: 'spin 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite' */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Bestelltorte {
  --btn-color: var(--dark-pink);
  min-height: 680px;
}

.custom-cake-container {
  --cream: #e6dec7;
  --dark-brown: rgb(76, 29, 12);
  margin: 0;
}

.left {
  width: 100%;
  display: table;
  float: left;
  min-height: 680px;
}

.right {
  width: 0%;
  display: none;
  float: right;
  min-height: 680px;
  background: var(--cream);
}

.custom-cake-left-wrapper {
  min-height: 680px;
  height: 680px;
}

.container {
  height: 50%;
}

.custom_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--btn-color);
  border-radius: 5px;
  box-shadow: 0 25px 40px -20px var(--btn-color);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
}

.custom_btn:hover {
  box-shadow: 0 30px 50px -20px var(--dark-green);
  background-color: var(--dark-green);
}

.custom_btn.clicked {
  box-shadow: 0 0 1px -10px var(--btn-color);
  transition: all 0.2s;
}

.cake_icon {
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  height: 160px;
  filter: drop-shadow(0px 10px 15px var(--dark-brown));
}

.section_borders {
  height: 60%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid var(--dark-brown);
  border-top: none;
  z-index: -1;
  overflow: hidden;
}

.section_borders .top-border {
  position: absolute;
  top: 0;
  height: 10px;
  background-color: var(--dark-brown);
  width: 30%;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-border.leftBorder {
  left: 0;
}

.top-border.rightBorder {
  right: 0;
}

h4 {
  text-align: center;
}

#Bestelltorte:hover .top-border {
  transform: scaleX(1.5);
}

/*basic reset*/

.custom-cake-form-container {
  height: 100%;
  /*Image only BG fallback*/
  /*background = gradient + image pattern combo*/
  /* background:
        linear-gradient(var(--light-brown), var(--light-pink) );
        linear-gradient(var(--light-brown), rgba(155, 89, 182, 0.6)); */
  position: fixed;
}

/*form styles*/

#msform {
  max-width: 1100px;
  margin: 30px auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
}

#msform fieldset {
  border: 0;
  /*stacking fieldsets above each other*/
  position: relative;
  display: block;
  min-width: 100%;
}

#msform .decoration {
  text-align: left;
  position: relative;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}

.btn {
  margin-top: 20px;
  background-color: var(--dark-brown);
  margin: 10px;
}

.btn:hover {
  background-color: var(--dark-pink);
}

/*Material Icons*/

.material-icons {
  color: var(--dark-brown);
}

.material-icons.active {
  color: var(--light-brown);
}

/*headings*/

.fs-title {
  color: var(--dark-brown);
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 65px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/

#progressbar {
  overflow: visible;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  margin-bottom: 150px;
  list-style-type: none;
  color: var(--dark-brown);
  text-transform: uppercase;
  font-size: 1em;
  width: 25%;
  float: left;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 100px;
  line-height: 100px;
  display: block;
  font-size: 30px;
  color: #333;
  background: white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/

#progressbar li.active:before {
  background: var(--dark-brown);
  color: white;
  position: relative;
  font-weight: 900 !important;
}

#progressbar li.done::before {
  content: "\e5ca";
  font-family: "Material Icons";
}

ul#progressbar {
  margin: 0;
}

.cake-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgba(247, 242, 220, 0.667);
  padding: 0;
  margin: 0;
}

.cake-container-right {
  height: 100%;
  background: #915609;
}

.cake-form-wrapper {
  width: 100%;
  position: absolute;
  min-height: 78%;
  height: 78%;
  top: 58%;
  transform: translateY(-59%);
}

.cake-form-container {
  position: relative;
  top: 25px;
  min-height: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow-x: hidden;
  overflow-y: auto;
}

.step-container {
  position: relative;
  min-height: 100%;
  height: 100%;
  min-width: 40px;
  top: 8px;
  margin-left: -60px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.step-button-container {
  width: 100%;
  height: auto;
  background: whitesmoke;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px;
}

.desc-container {
  position: relative;
  min-height: 800px;
  height: 800px;
  min-width: 40px;
  top: 0px;
  margin-left: -40px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  color: white;
}

.desc-container div {
  margin-bottom: 53px;
  height: 70px;
  vertical-align: middle;
  opacity: 0.5;
}

.desc-item h5 {
  font-size: 1.6em;
}

.desc-item span{
  font-size: 1.3em;
}

.desc-container div.active {
  opacity: 1;
  font-weight: 800 !important;
}

div.active h5 {
  opacity: 1;
  font-weight: 800 !important;
}

.file-field .btn {
  margin: 15px;
  height: 36px;
}

.file-field.inactive {
  display: none;
}

.file-field .btn,
.file-field .btn-large {
  line-height: 36px;
}

input,
textarea {
  color: var(--dark-brown) !important;
}

input:focus,
textarea:focus {
  color: var(--light-brown) !important;
}

.input-field[visibility] {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field[visibility="false"] {
  opacity: 0;
  transform: translateY(-20px);
}

.coupon-field {
  display: inline-block;
  margin-top: -2rem;
  width: 45%;
  margin-right: 3%;
}

.price-box-container {
  width: 100%;
  height: auto;
}

.collapsible li{
  font-size: 43px;
}

.collapsible-header {
  justify-content: space-between;
}

.collapsible-header .material-icons {
  line-height: normal;
}

#modal_review {
  max-height: 100%;
}

.collapsible-body {
  text-align: left;
}

.order-summary h5 {
  text-align: left;
}

.delivery-tag {
  display: inline-block;
  position: absolute;
  right: 190px;
  text-align: left;
  top: 30px;
  width: 225px;
  background-color: var(--dark-brown);
  color: white;
  padding: 6.5px 8.5px;
  border-top-left-radius: 15px;
}

.price-tag {
  display: inline-block;
  height: 250px;
  width: 250px;
  position: absolute;
  right: 30px;
  top: 25px;
  border: var(--dark-brown) 3px dotted;
  -webkit-box-shadow: 0 0 0 1px white, 0 0 0 5px var(--dark-brown);
  box-shadow: 0 0 0 1px white, 0 0 0 5px var(--dark-brown);
  border-radius: 50%;
  z-index: 100;
  background-color: white;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}

.price-tag h4 {
  font-weight: 900;
  text-align: center;
  margin-top: 55px;
  font-size: 4rem;
}

.tax-notice {
  font-size: 25px;
}

.tax-amount {
  font-size: 38px;
  line-height: 45px;
}

.delivery-tag h6 {
  margin: 0.2rem 0.4rem 0;
  font-size: 2.5rem;
  font-weight: 900;
}

ul.collapsible {
  position: relative;
  z-index: 50;
}

.payment_option h5 {
  text-align: left;
}

[type="checkbox"] + label {
  position: relative;
  margin-top: 20px;
  padding-left: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.ip {
  text-align: left;
}
.HomeDvryCheckbox {
  text-align: left;
}
.lblHomeDvry {
  margin-left: 5px !important;
}
.addressDiv {
  margin-top: 20px !important;
}
.alertMsg {
  position: absolute;
  left: 0px !important;
  margin-top: 0px;
}

a {
  font-weight: normal;
}

span.badge {
  margin-left: 0.5rem;
  float: inherit;
}

.payment-choice label {
  padding-right: 15px;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: var(--dark-brown);
  border: 2px solid var(--dark-brown);
  border-radius: 50%;
}

[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid var(--dark-brown);
  border-radius: 50%;
}

.five-day-notice {
  color: red;
  font-size: 9pt;
  text-align: left;
  margin-left: 43px;
  display: block;
}
.more-then-fifteen,
.house-number-not-valid {
  color: red;
  font-size: 25pt;
  text-align: left;
  margin-left: 52px;
  display: block;
}

.cash-notice {
  color: red;
  font-size: 9pt;
  text-align: center;

  display: block;
}

.hidden {
  visibility: hidden;
}

/* Below style is present in the globalStyles.css and it controls visibility of cake-size options */

.cake_size_field li.disabled {
  display: none;
}

.hide-btn {
  display: none;
}

.applyCode {
  font-size: 2rem;
  outline: none;
  background: var(--dark-brown);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
  margin-right: 12px;
}

.highlight {
  background-color: lightpink;
}

/* sweet alert */
::ng-deep .swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 4px !important;
  background: initial;
  background-color: rgb(76, 29, 12) !important;
  color: #fff;
  font-size: 2.5rem !important;
  box-shadow: none !important;
}

::ng-deep .swal2-popup {
  font-size: 2rem !important;
}

::ng-deep .swal2-icon.swal2-warning {
  border-color: rgb(234, 101, 124);
  color: rgb(234, 101, 124);
}

::ng-deep .swal2-title {
  color: #bc9756 !important;
  font-size: 50px !important;
  display: block !important;
}

::ng-deep .swal2-content{
  font-size: 1.3em !important;
}

::ng-deep .swal2-select {
  display: none;
}

/* input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  opacity: 1;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid rgb(76, 29, 12);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
} */

/* [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: static;
  left: 0px;
  opacity: 1;
} */

/*DK upgrade*/
.access_time_icon {
  margin-top: 3rem;
  margin-left: -3rem;
  margin-right: -0.8rem;
  font-size: 4.7rem;
}

/* modals */
.modal-fixed-footer .modal-content {
  text-align: justify;
  text-justify: inter-word;
  padding: 60px 40px;
}

.modal-fixed-footer .modal-content p {
  font-size: 30px;
  color: var(--dark-brown);
  text-align: justify;
}

.modal-fixed-footer .modal-content a {
  color: blue;
}

.modal-fixed-footer .modal-content h3 {
  color: var(--dark-brown);
  font-size: 5rem;
  margin-bottom: 30px;
}

.modal-fixed-footer .modal-content h4 {
  text-align: justify;
  font-size: 4.5rem;
  color: var(--light-brown);
}

.modal-fixed-footer .modal-content h5 {
  text-align: left;
  color: var(--light-brown);
  text-justify: auto;
  font-size: 3.5rem;
}

.modal-fixed-footer .modal-content h6 {
  text-align: left;
  color: var(--dark-brown);
  text-justify: auto;
  font-size: 2.5rem;
}

.modal-fixed-footer .modal-content ul {
  text-align: left;
  font-size: 30px;
  color: var(--dark-brown);
}

.modal-fixed-footer .modal-content h2 {
  color: var(--dark-brown);
  text-align: left;
  text-justify: inter-word;
}

.modal-fixed-footer span {
  font-size: 0.9em;
}

.modal-fixed-footer .close-button {
  color: #fff;
  background-color: var(--dark-brown);
}

.modal-fixed-footer .close-button:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.modal-fixed-footer .icon-size {
  font-size: 1em;
}

.select-dropdown li img {
  float: left;
  border-radius: 50%;
}

/* paypal button */
/* #xcomponent-paypal-button-9da50ee07f > .xcomponent-outlet{
  width: 300px !important;
  height: 70px !important;
}

.paypal-button-container {
  min-width: 300px !important;
  max-width: 500px !important;
  font-size: 20px !important;
}

.paypal-button:not(.paypal-button-card) {
  height: 80px !important;
  min-height: 30px !important;
  max-height: 80px !important; 
} */

/*DK upgrade*/

/* @media queries -- START -- */
/* Various max-width setpoints (including iPhone, iPad, and Android devices) 
[240, 320, 360, 400, 432, 480, 540, 592, 600, 640, 720, 750, 768, 789, 800, 828, 854, 900, 960, 1024, 1080, 1125, 1136, 1200, 1242, 1280, 1334, 1366, 1400, 1536, 1600, 1668, 1792, 1824, 1920, 2048, 2208, 2224, 2436, 2560, 2688, 2732]

Sources:
- https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
- https://ipadable.com/ipad-screen-resolution/
- http://coreprogrammers.com/list-of-screen-resolutions-for-all-android-based-phones-and-tablets/
*/
@media only screen and (max-width: 1023px) {
  .step-container {
    display: none;
  }

  .desc-container {
    display: none;
  }

  .cake-form-container {
    min-height: 520px;
    height: 520px;
  }

  .cake-container {
    min-height: 600px;
    height: 600px;
  }

  .left {
    min-height: 600px;
    height: 600px;
  }

  .right {
    min-height: 600px;
    height: 600px;
  }

  #Bestelltorte {
    min-height: 600px;
  }
  .coupon-field {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .cake-form-container {
    min-height: 520px;
    height: 520px;
  }

  .cake-container {
    height: 600px;
  }

  #Bestelltorte {
    height: 600px;
  }

  .left {
    min-height: 600px;
    height: 600px;
  }

  .right {
    min-height: 600px;
    height: 600px;
  }

  #Bestelltorte {
    min-height: 600px;
  }

  .custom_btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .section_borders {
    width: 80%;
  }

  .section_borders .top-border {
    width: 20%;
  }

  .step-button-container button {
    width: auto !important;
    padding: 0 12px !important;
  }

  .file-field .btn {
    transform: scale(0.75);
    margin: 10px auto !important;
  }

  #msform fieldset {
    padding: 0 !important;
  }
  .lblHomeDvry {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .cake-form-container {
    height: 720px;
  }

  .cake-container {
    height: 800px;
  }

  .left {
    min-height: 800px;
    height: 800px;
  }

  .right {
    min-height: 800px;
    height: 800px;
  }
}

@media only screen and (max-width: 480px) {
  span.badge {
    /* font-size: 0.8rem; */
    margin-left: 12px;
  }

  .order-summary h5 {
    text-align: center;
    padding-bottom: 50px;
  }

  .payment_option h5 {
    text-align: center;
  }

  .delivery-tag {
    top: 72px;
  }

  .price-tag {
    top: 62px;
  }

  .cake-form-container {
    height: 760px;
  }

  .cake-container {
    height: 840px;
  }

  .left {
    min-height: 800px;
    height: 800px;
  }

  .right {
    min-height: 800px;
    height: 800px;
  }
}

/* Potrait iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL */
@media only screen and (max-width: 414px) {
  .overlay__content {
    left: 40%;
    top: 40%;
    position: absolute;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .spinner {
    width: 85px;
    height: 85px;
  }

  span.badge {
    /* font-size: 0.6rem; */
    margin-left: 8px;
  }

  .cake-form-container {
    height: 680px;
  }

  .cake-container {
    height: 760px;
  }

  .left {
    min-height: 760px;
    height: 760px;
  }

  .right {
    min-height: 760px;
    height: 760px;
  }

  .step-button-container button {
    transform: scale(0.75);
    margin: 10px auto !important;
  }

  .coupon-field {
    width: 48%;
  }
  .lblHomeDvry {
    margin-top: 20px !important;
  }
  .addressDiv {
    margin-top: 20px !important;
  }
  .HomeDvryCheckbox {
    margin-top: 20px;
  }
}

/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 375px) {
  .cake-form-container {
    height: 680px;
  }

  .cake-container {
    height: 760px;
  }

  .left {
    min-height: 760px;
    height: 760px;
  }

  .right {
    min-height: 760px;
    height: 760px;
  }
  .applyCode {
    width: 103px;
    padding: 0 0.7rem;
    margin-right: 0px;
  }
  .coupon-field {
    width: 48%;
  }
  .lblHomeDvry {
    margin-top: 20px !important;
  }
  .addressDiv {
    margin-top: 20px !important;
  }
}

/* Potrait iPhone 5/5s/SE */
@media only screen and (max-width: 320px) {
  .cake-form-container {
    height: 720px;
  }

  .cake-container {
    height: 800px;
  }

  .left {
    min-height: 800px;
    height: 800px;
  }

  .right {
    min-height: 800px;
    height: 800px;
  }
  .coupon-field {
    width: 48%;
  }
}
/* @media queries -- END -- */
