.outer-container{
    background-image: url("../assets/paypal.png");
    background-size: 450px;
    background-position: -65px -80px;
    height: 80px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

#paypal-button-container{
    height: 35px;
    opacity: 0;
}