.price-box {
  height: auto;
  width: 100%;
  background-color: #2a2a2a;
  color: #fafafa;
  padding: 20px;
}

.amount {
  height: auto;
  font-size: 3em;
}

.label {
  font-size: 3em;
  text-align: center;
}
