.landing_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}

#landing .slider .slides li .caption {
  top: 40%;
}

/*styling for modal*/

#products .slider .indicators .indicator-item.active {
  background-color: #ffffff;
}

.select-wrapper {
  color: #9e9e9e;
}

.select-wrapper span.caret {
  color: #9e9e9e;
}

/* Alignment tiles for web and mobile */

@media only screen and (min-width: 601px) {
  /*DESKTOP*/
  .left_tile {
    margin-left: auto;
  }
  .right_tile {
    margin-right: auto;
  }
  .product_tile_cover {
    background: var(--light-brown);
    width: 70%;
  }
  .product_tile {
    /* margin-left: auto;
		margin-right: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product_tile:hover {
    -webkit-transform: scale3d(0.95, 0.92, 1);
    transform: scale3d(0.95, 0.92, 1);
  }
}

@media only screen and (max-width: 600px) {
  /*MOBILE*/
  .left_tile {
    margin-left: auto;
  }
  .right_tile {
    margin-right: auto;
  }
  .product_tile_cover {
    background: var(--light-brown);
    width: 90%;
    transform: scale(0.95, 0.95);
  }
  .product_title h3 {
    font-size: 1.6em;
  }
  #products .row .col {
    padding: 3px;
  }
  .product_tile {
    /* margin-left: auto;
		margin-right: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .product_tile:hover {
    -webkit-transform: scale3d(0.92, 0.92, 1);
    transform: scale3d(0.89, 0.92, 1);
  }
  .tiles_container:first-child .container {
    height: 18em;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  #products .modal-content .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
  }
}

.custom-cap {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  /* opacity: 0; */
}

#products .slider .indicators .indicator-item {
  background-color: #db9356;
}

#products .slider .indicators .indicator-item.active {
  background-color: #915609;
}

#products .modal h5 ,#products .modal h4{
  color: #915609;
}

#products .modal-close-button {
  float: right;
  background-color: rgb(211, 79, 115)
}

#products .modal-close-button:hover {
  background-color: rgb(153, 153, 0);
}

@media (max-width:600px) {
  #products .modal-content .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #products .modal {
    text-align: left
  }
}

/* testimonials tooltip */

.backdrop {
  background-color: var(--light-brown);
  color: white;
}

@media (min-width:601px) {
  #products .modal-content .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

.product_tile h3 {
  text-transform: uppercase;
  opacity: 1;
  font-weight: 900;
  color: #fafafa;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.product_tile:hover h3 {
  transform: translate3d(0, 0, 0);
}

.product_tile p {
  margin-top: -10px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.product_tile:hover p {
  opacity: 1;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0);
}

#products .modal-footer {
  display: none !important;
}

#products .modal-content {
  height: 100vh;
  background: linear-gradient(90deg, #e6dec7 75%, #915609 25%);
}

#products>.row {
  margin-bottom: 0px;
}

#products .modal {
  /*background-image: url(/static/media/seigaiha.00b22e9e.png);*/
  /*border: 6px solid transparent;*/
  height: 100vh !important;
  /*border-image: url("../src/assets/border.png") 30 stretch !important;*/
  margin-top: 0;
  top: 0% !important;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/*styling for modal ends */

/*Temp style for development*/

section .temp-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.temp {
  position: relative;
  height: 100vh;
}

section.temp {
  box-shadow: inset 0px 0px 0px 5px #DA7654;
}

/*Temp style | ends*/

/* Colour definitions */

:root {
  --dark-brown: rgb(76, 29, 12);
  --light-brown: rgb(188, 151, 86);
  --light-green: rgb(177, 191, 0);
  --dark-green: rgb(153, 153, 0);
  --light-pink: rgb(234, 101, 124);
  --dark-pink: rgb(211, 79, 115);
}

/* Colour definitions | end */

/* Global Styles */

a {
  font-family: stRyde, Arial, Helvetica, sans-serif;
}

.input-field textarea:focus+label, .input-field select:focus+label, .input-field input[type=text]:focus+label, .input-field input[type=tel]:focus+label, .input-field input[type=password]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=number]:focus+label, .file-path-wrapper {
  color: var(--light-brown) !important;
}

.file-field input[type=file] {
  height: inherit;
  bottom: 0;
  padding: 33px;
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: var(--light-brown);
}

.input-field input[type=text]:focus, .input-field input[type=tel]:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus, .input-field input[type=number]:focus {
  border-bottom: 1px solid var(--light-brown) !important;
  box-shadow: 0 1px 0 0 var(--light-brown) !important;
  color: var(--light-brown);
}

.input-field textarea:focus {
  border-bottom: 1px solid var(--light-brown) !important;
  box-shadow: 0 1px 0 0 var(--light-brown) !important;
}

.input-field input[type=text]:valid, .input-field input[type=tel]:valid, .input-field input[type=password]:valid, .input-field input[type=email]:valid, .input-field input[type=number]:valid {
  color: var(--light-brown);
}

.input-field input[type=text]:invalid, .input-field input[type=tel]:invalid, .input-field input[type=password]:invalid, .input-field input[type=email]:invalid, .input-field input[type=number]:invalid {
  color: var(--light-brown);
}

input[type="checkbox"].filled-in:checked+label:after {
  top: 0;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(76, 29, 12);
  background-color: rgb(76, 29, 12);
  z-index: 0
}

input[type="checkbox"].filled-in.tabbed:focus+label:after {
  border-radius: 2px;
  border-color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0.1)
}

.no_margin {
  margin: 0;
}

a {
  padding: 2px;
  color: #fafafa;
  transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border: 3px solid transparent;
}

/* Global Styles | end */

#landing .slider .indicators .indicator-item {
  background-color: rgba(200, 200, 200, 0.15);
  height: 1.5em;
  width: 1.5em;
  margin: 1em;
}

#landing .slider .indicators .indicator-item.active {
  background-color: #ffffff;
}

.material-icons {
  vertical-align: middle;
  line-height: inherit;
}

.datepicker {
  color: var(--light-brown);
}

textarea {
  resize: none;
  max-height: 40px !important;
  overflow-y: auto;
  color: var(--light-brown);
}

.slider .slides {
  background-color: transparent !important;
}

.cake_icon {
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  height: 20vh;
  filter: drop-shadow(0px 10px 15px var(--dark-brown));
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: var(--dark-brown) !important;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: var(--light-brown) !important;
}

input.select-dropdown {
  color: var(--dark-brown) !important;
}

.cake_shape_field li.disabled {
  display: none;
}

.testimonial_picture img {
  border-color: var(--light-brown) !important;
  border: 4px solid;
}

.carousel.carousel-slider .carousel-fixed-item {
  top: 5px;
  right: 10px;
  text-align: right;
}

.input-field.col .dropdown-content [type="checkbox"]+label {
  top: -10px;
  left: 0;
  height: 18px;
}

[type="checkbox"]:checked+label:before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--light-green);
  border-bottom: 2px solid var(--light-green);
}

.dropdown-content {
  max-height: 480px;
}

/* address autocomplete */
.pac-container .pac-item{
  padding: 0 8px !important;
  line-height: 80px !important;
  border-top: 2px solid #e6e6e6 !important;
  font-size: 40px !important;
}

.pac-container .pac-item-query {
  font-size: 40px !important;
}

.pac-container .pac-icon-marker {
  background-position: -5px -403px !important;
}

.pac-container .pac-icon{
  vertical-align: middle !important;
  width: 30px !important;
  height: 40px !important;
  margin-right: 8px !important;
  margin-top: 5px !important;
  background-size: 75px !important;
}

/* paypal button */
#xcomponent-paypal-button-9da50ee07f > .xcomponent-outlet{
  width: 300px !important;
  height: 70px !important;
}

.paypal-button-container {
  min-width: 300px !important;
  max-width: 500px !important;
  font-size: 20px !important;
}

.paypal-button:not(.paypal-button-card) {
  height: 80px !important;
  min-height: 30px !important;
  max-height: 80px !important; 
}