<!DOCTYPE html>
<html>

<head>
  <style>
    @font-face {
    font-family: 'stRyde';
    font-display: fallback;
    src: url('../src/assets/StRydeRegular.woff') format("woff"), url('../src/assets/StRydeRegular.ttf')  format("truetype"), url('../src/assets/StRyde-Regular.otf') format("otf");
}
html {
  font-family: stRyde, Arial, Helvetica, sans-serif;
	--dark-brown: rgb(76,29,12);  
}
    body {
      height: 595px;
      width: 420px;
      /* to centre page on screen*/
      margin-left: auto;
      margin-right: auto;
      border-radius: 2px;
      box-shadow: 5px 5px 10px 2px #a0a0a0;
      color: #2b2b2b;
    }

    .rec_head {
      padding: 0px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 5px solid var(--dark-brown);
    }

    .head_date {
      text-align: right;
      color: #757575;
    }

    .rec_body {
      padding: 0px 20px;
      position: relative;
    }
    table{
      width: 100%;
    }

    .thead {
      border-bottom: 1px solid #ddd;
      color: #757575;
      padding: 0 0 1px 0;
      font-weight: bold;
      display: inline-block;
      width: 100%;
    }
    .tbody{
      border-bottom: 1px solid #ddd;
    }
    .thead div{
      display: inline;
    }
    .des {
      display: inline-block;
      width: 70%;
    }
    
    .cost{
      display: inline-block;
      width: 30%;
      text-align: center;
    }
    .cake {
      width: 70%;
      display: inline-block;
      border-right: 1px solid #ddd;
    }
    .cake h4 {
      font-weight: 500;
    }
    .shape {
      color: #757575;      
    }
    .cost-value {
      width: 113px;
    float: right;
    height: 210.53px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .cost-value h3 {
      font-weight: 500;
    }
    .total{
      border-bottom: 1px solid #ddd;
    }
    .des h4 {
      margin: 0.5em 0
    }
    .shipping {
      padding: 0 0 0.5em;      
      border-bottom: 4px solid #ddd;
    }
    .cost h3 {
      margin: 0;
    }
    .shipping h4 {
      font-weight: 500;
      margin: 0.5em 0 0;      
    }
    .charge h4 {
      display: inline;
      vertical-align: middle;
      font-weight: 500;
    }
.charge .des{
  width: 55%;
}

  .charge .cost {
  width: 45%;
}
  svg {
    display: inline;
    vertical-align: middle;
}

  .rec-foot {
      padding: 0px 20px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    .rec-foot h3, .rec-foot p {
      margin-top: 0;
    }
    .rec-foot p{
      color: #757575;
      word-wrap: break-word;
    }

  </style>
</head>

<body>
  <div class="rec_head">
    <h3>Reciept for Order #1234567891011</h3>
    <div class="head_date">
      <p>
        <small>{{name}}
          <br>{{Date}}
          <br>{{email}}
          <br>{{mobile}}</small>
      </p>
    </div>
  </div>
  <div class="rec_body">
    <div class="thead">
      <span class="des">DESCRIPTION</span><span class="cost">COST</span>
    </div>
    <div class="tbody">
      <div class="cake">
        <h4>Custom Cake</h4>
        <div class="shape">
            <p>
                <small>Shape: {{shape}}<br>
                  Size: {{size}}<br>
                  Color: {{color}}<br>
                  Decoration: {{decoration}}<br>
                  Extra Decoration: {{extraDecoration}}<br>
                  Flavor: {{flavor}}<br>
                  Extra Flavor: {{extraFlavor}}<br>
                  Text: {{text}}
                </small>
            </p>
          </div>
      </div>
      <div class="cost-value">
        <h3>$45</h3>
      </div>
    </div>
    <div class="total">
        <span class="des"><h4>SUBTOTAL</h4></span><span class="cost"><h3>$45</h3></span>
      </div>
      <div class="shipping">
          <span class="des"><h4>Shipping & Handling</h4></span><span class="cost"><h4>$05</h4></span>
          <span class="des"><h4>Sales Tax</h4></span><span class="cost"><h4>$05</h4></span>
        </div>
      <div class="charge">
          <span class="des">
              <?xml version="1.0" ?><svg  version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="48px"><g /><g id="Icons"><g><path d="M32.57532,22.41571c-0.31586,0.87201-0.63159,1.74371-0.953,2.63037c0.51813,0,1.00891,0,1.52899,0    c-0.18518-0.88745-0.36639-1.7572-0.54779-2.62659C32.59406,22.41821,32.58472,22.41699,32.57532,22.41571z" style="fill:#303030;"/><path d="M36.73413,14.05713H11.26538c-1.32666,0-2.40625,1.07959-2.40625,2.40674v15.07227    c0,1.32715,1.07959,2.40674,2.40625,2.40674h25.46875c1.32715,0,2.40674-1.07959,2.40674-2.40674V16.46387    C39.14087,15.13672,38.06128,14.05713,36.73413,14.05713z M26.70251,25.0321c-0.18939-0.15021-0.4071-0.26819-0.6228-0.38043    c-0.35907-0.18689-0.71417-0.37628-1.02637-0.63879c-0.89069-0.74817-0.77692-1.79407-0.29492-2.4978    c0.39661-0.57855,0.97974-0.8847,1.64252-1.05219c0.21112-0.05347,0.4306-0.07318,0.64569-0.1095    c0.03198-0.00537,0.06299-0.01642,0.09454-0.0249c0.23584,0,0.47186,0,0.70776,0c0.20624,0.03394,0.41382,0.06042,0.6178,0.10443    c0.20087,0.04327,0.39862,0.10315,0.59698,0.1582c0.04803,0.01324,0.09351,0.03497,0.14972,0.0567    c-0.10651,0.4964-0.21161,0.98816-0.31689,1.47998c-0.2417-0.07623-0.47284-0.1629-0.71124-0.22089    c-0.42889-0.10425-0.8667-0.14893-1.29877-0.03271c-0.15619,0.04218-0.31342,0.13019-0.43561,0.23688    c-0.20721,0.18073-0.20752,0.44482-0.00751,0.63354c0.13623,0.12848,0.29608,0.2359,0.45782,0.33167    c0.32208,0.19043,0.66046,0.35382,0.97821,0.55103c0.42725,0.2652,0.7829,0.60358,0.92535,1.10809    c0.20703,0.73279-0.01917,1.70972-0.83521,2.29877c-0.46954,0.33881-1.00085,0.5163-1.56647,0.58881    c-0.88971,0.1142-1.76288,0.02692-2.61328-0.26501c-0.0473-0.01617-0.09283-0.03735-0.15302-0.06189    c0.10999-0.51538,0.21887-1.02686,0.33069-1.54999c0.0719,0.03119,0.13373,0.05603,0.1936,0.08453    c0.52612,0.24957,1.08087,0.36908,1.66217,0.36224c0.26672-0.00299,0.52814-0.04419,0.76886-0.17139    C27.03174,25.78931,27.0899,25.33868,26.70251,25.0321z M23.74365,21.15021c-0.4447,2.08032-0.89099,4.16028-1.33112,6.24182    c-0.0282,0.13318-0.07568,0.17218-0.21173,0.16968c-0.5011-0.00922-1.00238-0.00348-1.50366-0.00348    c-0.04602,0-0.09174,0-0.16101,0c0.50909-2.37775,1.01392-4.73633,1.5188-7.09332c0.61401,0,1.21527,0,1.83179,0    C23.83783,20.69928,23.7915,20.92499,23.74365,21.15021z M21.16223,20.70679c-0.94067,2.2453-1.88239,4.49054-2.82111,6.73669    c-0.03589,0.08569-0.07867,0.11823-0.17468,0.11749c-0.56848-0.00494-1.13727-0.00397-1.70593-0.00049    c-0.08569,0.00073-0.12189-0.02051-0.1449-0.10968c-0.47485-1.84888-0.95789-3.6958-1.42847-5.54559    c-0.08453-0.33191-0.25122-0.56134-0.56781-0.70233c-0.52161-0.23187-1.06372-0.39355-1.61749-0.52277    c-0.02423-0.0058-0.04767-0.01532-0.07141-0.02301c0-0.01703,0-0.03369,0-0.05072    c0.01703-0.13947,0.10492-0.15216,0.22742-0.15167c0.9646,0.00519,1.92932,0.00299,2.89398,0.00317    c0.47913,0,0.80768,0.26691,0.89691,0.73779c0.24689,1.30151,0.49091,2.60364,0.73596,3.90564    c0.00854,0.04529,0.01984,0.08997,0.05621,0.14417c0.63129-1.59436,1.26239-3.1886,1.89264-4.78058c0.64075,0,1.2749,0,1.92438,0    C21.22314,20.55292,21.19421,20.63037,21.16223,20.70679z M33.67743,27.552c-0.05347-0.25269-0.10901-0.50562-0.16052-0.75928    c-0.06018-0.29791-0.05865-0.2981-0.36725-0.2981c-0.64435,0-1.28864,0.00165-1.93311-0.00183    c-0.08984-0.00049-0.13354,0.02533-0.1629,0.11279c-0.09705,0.28662-0.20081,0.57098-0.30872,0.8537    c-0.01532,0.03992-0.06903,0.09271-0.10553,0.0932c-0.61023,0.00574-1.22058,0.00403-1.84436,0.00403    c0.01581-0.04449,0.02582-0.07971,0.03998-0.11322c0.89752-2.14398,1.79541-4.28809,2.69391-6.43207    c0.15222-0.3634,0.43378-0.55084,0.82489-0.55133c0.50513-0.00049,1.01019-0.00018,1.53381-0.00018    c0.49329,2.36121,0.98608,4.7196,1.48169,7.09229C34.79425,27.552,34.24323,27.552,33.67743,27.552z" style="fill:#303030;"/></g></g></svg><h4>{{Payment Type}}</h4></span><span class="cost"><h3>TOTAL: $50</h3></span>
        </div>
  </div>
  <div class="rec-foot">
    <h3>Shipping to: </h3><p>
        <small>{{street}}, {{city}}<br>{{date}}, {{time}}</small>
      </p>
      <p class="remarks">
          <small>Remarks: {{remarks}}</small>
      </p>
  </div>

</body>

</html>