nav {
  color: #000000;
  height: 230px;
  line-height: 230px;
  background-color: transparent;
  box-shadow: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  transition: top 0.2s ease-in-out;
}

nav.active {
  height: 180px;
  line-height: 180px;
  background-color: var(--dark-brown);
  background-image: url("../assets/patterns/background_pattern_dark.jpg");
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

nav.active .header_pink_border,
nav.active .header_gold_border {
  width: auto;
  height: 5px;
  transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav.active .header_pink_border {
  background-color: var(--dark-pink);
}

nav.active .header_gold_border {
  background-color: var(--light-brown);
}

nav .nav-icon {
  margin: 0 18px;
}

nav .nav-icon,
nav .nav-icon i {
  color: var(--light-brown);
  height: 80px;
  line-height: 80px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav.active .nav-icon,
nav.active .nav-icon i {
  color: var(--light-brown);
}

nav ul a {
  color: var(--light-brown);
  font-weight: bold;
}

nav ul a:hover,
nav ul a i:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--dark-green);
  transform: scale(1.2);
}

nav .brand-logo {
  height: 100%;
  margin-left: 20px;
  padding: 5px;
}

nav img.active {
  transform: scale(0.8, 0.8);
  transform-origin: 50% 10%;
}

nav .brand-logo img {
  height: 100%;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-fixed {
  position: fixed;
  transition: all 0.1s ease-in;
}
.qtyCountinMobile {
  float: right;
  background: #ea657c;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.9rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.9rem;
  margin-top: 1.4rem;
  left: 1.5rem;
  text-align: center;
  width: 1.9rem;
  font-size: 0.9rem;
}
.cartIcon {
  color: var(--dark-brown) !important;
  float: right !important;
  font-size: 2.5rem;
  margin-left: -3.5rem !important;
}
.headerBar{
  top: -90px;
}

@media only screen and (max-width: 1000px) {
  nav .brand-logo {
    margin-left: 0px;
  }
  .nav-up {
    top: -90px;
  }
}
