.active {
  display: block;
}

.active .form_section_container {
  display: block;
}

.form_section_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9997;
}

.form_bg.upper_half {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  transform: translateY(-100%);
  background-color: #795548;
  z-index: 9998;
}

.form_bg.lower_half {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  transform: translateY(100%);
  background-color: #8D6E63;
  z-index: 9998;
}

.form_container {
  min-height: 100vh;
}

.login_form {
  min-height: 350px;
  width: 300px;
  max-width: 90vw;
  padding: 10px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #fafafa;
  /* box-shadow: 0 30px 40px 0 rgba(16,36,94,0.2); */
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  z-index: 9999;
}

.login_form .login_btn {
  margin-top: 20px;
  background-color: var(--light-pink);
}

.login_form .login_btn:hover {
  background-color: var(--dark-pink);
}

.close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.close_btn .dash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #795548;
}

.close_btn:hover .dash {
  background-color: #8D6E63;
}

.close_btn .left_dash {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn .right_dash {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* CSS for animations */
