.collapse {
  display: none;
}

.collapsein {
  display: block;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}

.extrasSelect {
  display: flex !important;
  border: 1px solid var(--dark-brown);
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.lightGrayText {
  color: #757575;
}
.selectDiv {
  width: 30vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.incrDecBtnDiv {
  text-align: center;
  padding: 1.5rem 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.itemCount {
  font-size: 1.5rem;
  margin: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 9%;
}
.incrDecBtn {
  font-size: 1.5rem;
  text-align: center;
  width: 38px;
  outline: none;
  background: var(--dark-brown);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
}
.totalPriceCount {
  text-align: center;
  outline: none;
  background: var(--dark-brown);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
  margin-left: 1rem;
  width: 63%;
  font-size: 0.7rem;
}
.extraItemCheckboxContain {
  padding: 1rem;
}
.extraItemCheckbox {
  display: flex;
  width: 25%;
}
.checkBox {
  height: 3.3rem;
  overflow-y: hidden !important;
  display: flex;
  flex-wrap: wrap;
}
.checkBoxin {
  height: auto;
}

.checkBox.in {
  height: auto;
}
.readMoreLessBtnDiv {
  width: 30vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.readMoreLessBtn {
  text-align: center;
  outline: none;
  background: var(--dark-pink);
  border: none;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 800;
  margin-left: 0rem;
  width: 100%;
  font-size: 1rem;
  color: white;
}
.readMoreLessBtn:hover {
  background-color: #b1bf00;
}
.colorChange {
  color: var(--dark-brown);
}

/* Large screen */
@media only screen and (max-width: 1400px) {
  .lblCheckBox {
    padding-left: 20px;
  }
  .badge {
    font-size: 0.8rem;
    display: flex;
  }
}

/* ipad landscape*/
@media only screen and (max-width: 1024px) {
  .lblCheckBox {
    padding-left: 10px;
  }
  .badge {
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  .selectDiv {
    width: 40vw;
  }
  .readMoreLessBtnDiv {
    width: 40vw;
  }
}

/* ipad portrait*/
@media only screen and (max-width: 768px) {
  .lblCheckBox {
    padding-left: 10px;
  }
  .badge {
    font-size: 0.8rem;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen and (min-width: 428px) and (max-width: 926px) {
  .extraItemCheckbox {
    width: 100%;
  }
  .selectDiv {
    width: 70vw;
  }
}

/* Potrait iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL */
@media only screen and (max-width: 414px) {
  .selectDiv {
    width: 70vw;
  }
  .extraItemCheckboxContain {
    padding: 0;
  }
  .extraItemCheckbox {
    width: 100%;
  }
  .lblCheckBox {
    padding-left: 10px;
  }
  .readMoreLessBtnDiv {
    width: 69vw;
    margin-top: 3%;
  }
  .badge {
    font-size: 0.8rem;
    display: flex;
    width: 300px !important;
  }
}

/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 375px) {
  .checkBox {
    height: 3.2rem;
  }
  .lblCheckBox {
    padding-left: 10px;
  }
  .badge {
    font-size: 0.8rem;
    display: flex;
    width: 300px !important;
  }
}

/* Landscape iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3*/
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .selectDiv {
    width: 40vw;
  }
  .readMoreLessBtnDiv {
    width: 40vw;
  }
}

/* Landscape iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
  .badge {
    width: 135px;
  }
  .selectDiv {
    width: 40vw;
  }
  .readMoreLessBtnDiv {
    width: 40vw;
  }
}
