<html>

    <head>
        <title>Efendibey | Invoice</title>
    </head>

    <body> 
        <div>Order Id: {{orderId}}</div>
        <div>Name: {{name}}</div>
        <div>Email: {{email}}</div>
        <div>Mobile: {{mobile}}</div>
        <div>Delivery Date: {{deliveryDate}}</div>
        <div>Delivery Time: {{deliveryTime}}</div>
        <div>Street: {{street}}</div>
        <div>City: {{city}}</div>
        <div>Shape: {{shape}}</div>
        <div>Size: {{size}}</div>
        <div>Color: {{color}}</div>
        <div>Decoration: {{decoration}}</div>
        <div>Extra Decoration: {{extraDecoration}}</div>
        <div>Flavor: {{flavor}}</div>
        <div>Extra Flavor: {{extraFlavor}}</div>
        <div>Text: {{text}}</div>
        <div>Remarks: {{remarks}}</div>
        <div>Price: {{price}}</div>
        <div>Payment Type: {{paymentType}}</div>
        <div>Delivery Type: {{deliveryType}}</div>
    </body>

</html>