.main-div {
    display: flex;
    background-color: #4c1d0c;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.text2 {
    position: relative;
}
.text {
    position: absolute;
}

.displaynotActive {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.stickyArrow {
    position: fixed;
    top: 0;
    width: 100%;
}
.sub-div {
    padding: 5px;
    cursor: pointer;
}
.m-sub-div {
    /* min-width: 190px;
    max-width: 190px; */
    width: 190px;
}
.img-div {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px 4px;
    border: 2px solid #fff;
    color: #e2536c;
    background: var(--dark-pink);
}

.addColor {
    color: #fff !important;
    background: var(--dark-green);
}

.drop-icon-div_downArrow {
    height: 2rem;
    background-color: #4c1d0c;
    text-align: center;
    position: fixed;
    margin-top: 4rem;
    width: 100%;
}
.drop-icon-div_UpArrow {
    height: 2rem;
    background-color: #4c1d0c;
    text-align: center;
    position: fixed;
    margin-top: -0.3rem;
    width: 100%;
}
.drop-icon-div_UpArrowWithMargin {
    margin-top: 2.8rem;
    width: 100%;
}

.item-icon {
    width: 2.1rem;
    height: 2.1rem;
}

.drop-icon {
    color: #fff !important;
    margin-top: -17px;
    font-size: 40px;
    cursor: pointer;
}

.full-div {
    width: 100%;
    display: flex;
    background-color: #4c1d0c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.full_divNonSticky {
    position: fixed;
    top: 0;
}

.img-div-list {
    display: flex;
    align-items: center;
    height: 51px;
    border-radius: 10px;
    padding-left: 4.5px;
    border: 2px solid #fff;
    color: #fff;
}

.name-div {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    line-height: 1;
    overflow: hidden;
    font-size: 0.9rem;
}

.productTypeName {
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

body::-webkit-scrollbar {
    width: 11px;
}

/* Large screen and ipad pro landscape mode */
@media only screen and (max-width: 1440px) {
    .full-div {
        justify-content: space-around;
    }
    .m-sub-div {
        width: 225px;
        padding: 1px;
    }
    .name-div {
        font-size: 1.2rem;
    }
    .drop-icon-div_UpArrow {
        margin-top: -0.3rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 6.5rem;
    }
    .drop-icon-div_downArrow {
        margin-top: 4rem;
    }
}

/* ipad landscape and ipad pro*/
@media only screen and (max-width: 1024px) {
    .full-div {
        justify-content: space-around;
    }
    .m-sub-div {
        width: 190px;
        padding: 0;
    }
    .drop-icon-div_UpArrow {
        margin-top: -0.3rem;
    }
    .drop-icon-div_downArrow {
        margin-top: 4rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 6.5rem;
    }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
    .full-div {
        justify-content: space-around;
    }
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 173px;
        padding: 0;
    }
    .drop-icon-div_UpArrow {
        margin-top: 0rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 11rem;
    }
}

/* ipad portrait*/
@media only screen and (max-width: 768px) {
    .full-div {
        justify-content: space-around;
    }
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 173px;
        padding: 0;
    }
    .drop-icon-div_UpArrow {
        margin-top: -0.3rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 10.7rem;
    }

    .drop-icon-div_downArrow {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 414px) {
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 185px;
        padding: 0;
    }
    .drop-icon-div_downArrow {
        margin-top: 4.3rem;
    }
    .drop-icon-div_UpArrow {
        margin-top: -0.3rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 24rem;
    }
}

/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 375px) {
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 170px;
    }
    .drop-icon-div_downArrow {
        margin-top: 4.3rem;
    }
    .drop-icon-div_UpArrow {
        margin-top: -0.3rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 24rem;
    }
}

/* Landscape iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3*/
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .full-div {
        justify-content: space-around;
    }
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 150px !important;
        padding: 0;
    }
    .drop-icon-div_downArrow {
        margin-top: 4rem;
    }
    .drop-icon-div_UpArrow {
        margin-top: 0rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 11rem;
    }
}

/* Landscape iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
    .full-div {
        justify-content: space-around;
    }
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 173px;
        padding: 0;
    }
    .drop-icon-div_UpArrow {
        margin-top: 0rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 10.7rem;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .full-div {
        justify-content: space-around;
    }
    .main-div {
        justify-content: flex-start;
    }
    .m-sub-div {
        width: 173px;
        padding: 0;
    }
    .drop-icon-div_UpArrow {
        margin-top: 0rem;
    }
    .drop-icon-div_UpArrowWithMargin {
        margin-top: 11rem;
    }
}

@media only screen and (max-width: 360px) {
    .main-div {
        justify-content: flex-start;
    }
}

/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 320px) {
    .m-sub-div {
        width: 150px;
    }
    .productTypeName {
        font-size: 0.7rem;
    }
}
