.overlayForSpinner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  z-index: 4000;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 47%;
  top: 40%;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #bc9756;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  /* animation: 'spin 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite' */
}

.HomeDelivery {
  display: block;
  padding: 0;
  background: #f01d65;
  border-radius: 2px;
  width: 20rem;
  padding: 0.6rem 5rem;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  height: 3.5rem;
  font-size: 1.4rem;
}
.HomeDeliveryIcon {
  position: absolute;
  left: 1rem;
  color: white;
}

div,
span {
  font-size: 16px;
  position: relative;
  margin-top: -4px;
}
.price {
  font-size: 34px;
}

.vcenter {
  display: inline-block;
  float: none;
}

.border {
  border: solid 0.5px;
}

.leftmargin {
  margin-left: 10px;
}

.length {
  width: 100%;
}

.grey {
  background-color: darkgray;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}
.collapsein {
  margin: 1rem;
}

.horizontalLine {
  color: #d3d3d3;
}
.Title {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--light-brown);
  font-size: 1.5rem;
  margin: 0;
  height: 3rem;
  padding: 0.5rem;
  background: var(--dark-brown);
}
#onlineOrder {
  margin-top: 6.5rem;
}
.mainOnlineOrder {
  background: #fafafa;
  width: 73%;
  padding: 0 0rem;
  margin: 0 0.5rem;
  float: left;
  top: 6.7rem;
}
.rightSection {
  background: #fff;
  width: 25%;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 12.3rem;
  overflow: auto;
}
.rightSectionAfterScroll {
  top: 6rem;
}
.cartContainDiv {
  max-height: 12rem;
  overflow-y: auto;
}
/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}*/
.extraText {
  padding: 0.5rem 0;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lblExtraText {
  color: #b1bf00;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1;
}
.lblExtraText:hover {
  cursor: pointer;
}
.extraTextIcon {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}
.motorCycleIcon {
  font-size: 1.5rem;
  margin-right: 0.2rem;
  margin-top: -0.2rem;
}
.motorCycleIconWarencorb {
  font-size: 1.5rem;
  margin-left: 0.2rem;
  color: white !important;
}
.modalTotalSummary {
  position: fixed;
  display: -ms-flexbox;
  width: 100%;
  z-index: 1100;
  bottom: 0;
  left: 0;
}

.termsModal {
  position: fixed;
  display: -ms-flexbox;
  width: 100%;
  z-index: 1200 !important;
  bottom: 0;
  left: 0;
  width: 93%;
}
.modalExtraText {
  position: fixed;
  display: -ms-flexbox;
  width: 100%;
  z-index: 1100;
  top: 25%;
  overflow-x: hidden;
}
.modalOrderConfirm {
  position: fixed;
  display: -ms-flexbox;
  z-index: 1100;
  top: 25%;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.commentIcon {
  font-size: 1.5rem;
}
.closeModal {
  position: absolute;
  right: -0.6rem;
  top: 0.5rem;
}
.extraTextMargin {
  margin-top: 1rem;
  color: var(--dark-brown);
  text-align: center;
}
.extraTextBtn {
  text-align: center;
  background: var(--dark-brown);
  width: 20vw;
  color: white;
}
.extraTextBtn:hover {
  background: #ea657c;
}
.visibleZ_Index {
  z-index: 2002;
}
.modalFooterMargin {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-title {
  color: var(--dark-brown);
  margin-bottom: 10px;
  margin-top: 0.5rem;
}
.collapsible-header {
  justify-content: space-between;
}

.collapsible-header .material-icons {
  line-height: normal;
}
ul.collapsible {
  position: relative;
  z-index: 50;
}
.collapsible-body {
  text-align: left;
}
.headerContain {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  /*border-bottom: 1px solid #ddd;*/
  border-bottom: 5px solid white;
}

/*.headerContain:hover,
.headerContain:active,
.headerContain:focus {
  background: green;
}*/

.headerContain:hover {
  background-color: #b1bf00 !important;
}

.addItemDiv {
  position: absolute;
  right: 0.3rem;
  line-height: 1;
  margin-top: -0.5rem;
  outline: none;
  box-shadow: none;
  border: none;
}
.addItemBtn {
  color: var(--dark-brown);
  outline: none;
  box-shadow: none;
  border: none;
}
.subTitle {
  color: var(--dark-brown);
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.MenuTitle {
  padding-left: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  height: 3rem;
  padding-top: 0.8rem;
  color: var(--dark-brown);
  background-color: rgba(255, 255, 255, 0.1);
  /*background-image: url("../assets/patterns/background_pattern_light.jpg");*/
  background-image: url("../../assets/patterns/background_pattern_light.jpg");
  position: relative;
  margin-top: 0;
}

.collapsible {
  margin: 0.5rem 0 0rem 0;
}
.priceTextColor {
  color: var(--light-pink);
}
.lightGrayText {
  color: #757575;
  letter-spacing: 1px;
}
.extraInfoText {
  color: #757575;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.incrDecBtnDiv {
  text-align: center;
  padding: 1.5rem 0;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemCount {
  font-size: 1.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 3vw;
  color: var(--dark-brown);
}
.incrDecBtn {
  font-size: 1.5rem;
  text-align: center;
  width: 12vw;
  outline: none;
  background: var(--dark-pink);
  border: none;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
  color: white;
}
.incrDecBtn:hover {
  background: #b1bf00;
}
.totalPriceCount {
  text-align: center;
  outline: none;
  background: var(--dark-pink);
  border: none;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
  margin-left: 1rem;
  width: 30vw;
  font-size: 1rem;
  color: white;
}
.totalPriceCount:hover {
  background: #b1bf00;
}
.cartIcon {
  color: #fff !important;
  font-size: 2.5rem;
}
.iconQty {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #fff !important;
}
.cartIconLaptopView {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: #fff !important;
  font-size: 1.5rem;
}
.cart {
  color: var(--light-brown);
  text-align: center;
  -bottom: 1px solid #fafafa;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  height: 3rem;
  padding: 0.8rem 1rem;
  margin-top: 0.9rem;
  margin-bottom: 0rem;
  background: var(--dark-brown);
}
.cartContain {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.cartItemCountDiv {
  color: var(--dark-brown);
}
.cartItemCrossIcon {
  font-size: 0.8rem;
}
.cartItemDiv {
  width: 38%;
  margin: 0 0.5rem;
  margin-left: 0;
  display: flex;
  align-items: center;
}
.qtyPlusMinusDiv {
  margin: 0.5rem 0;
  width: 22%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.qtyPlusMinusBtn {
  text-align: center;
  outline: none;
  background: #ea657c;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.5rem;
  width: 18px;
  height: 18px;
  line-height: 0px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.qtyPlusMinusBtn:hover {
  background-color: #b1bf00;
}
.qtyCount {
  font-size: 0.8rem;
  margin: 5px;
  vertical-align: middle;
}
.cartItem {
  font-size: 0.8rem;
}
.editItemBtn {
  padding: 0;
  padding-left: 2px;
  color: var(--dark-brown);
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: inherit;
}
.editItemDiv {
  width: 6%;
}
.editItemIcon {
  font-size: 1.2rem;
}
.itemPriceCountDiv {
  color: var(--dark-brown);
  margin: 0 0.5rem;
  width: 22%;
  word-break: break-all;
}
.deleteItemDiv {
  padding: 0;
  width: 8%;
}
.deleteItemBtn {
  padding: 0 0.2rem;
  color: var(--dark-brown);
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
}
.deleteItemIcon {
  font-size: 1.5rem;
}
.deleteItemIcon:hover {
  color: #b1bf00;
}
.totalPriceDiv {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.totalLbl {
  color: var(--dark-brown);
  font-size: 0.9rem;
}
.subTotal {
  font-size: 0.9rem;
  color: #757575;
}
.warningMsg {
  font-size: 0.8rem;
}
.warningMsgColor {
  color: red;
  animation: blinkText 1.5s linear infinite;
}

@keyframes blinkText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    color: #757575;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinkText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    color: #757575;
  }
  100% {
    opacity: 1;
  }
}

.subPrice {
  float: right;
}
.orderBtn {
  border-radius: 2px;
  width: 100%;
  margin: 0 !important;
  height: 3.5rem;
  font-size: 1.4rem;
}
.orderBtn:hover {
  background-color: #ea657c !important;
}
.orderBtnMobile {
  border-radius: 2px;
  width: 100%;
  margin: 0 !important;
}
.orderBtnDesktop {
  height: 3rem;
}
.EuroIcon {
  position: absolute;
  right: 1rem;
  color: white !important;
  font-size: 2rem;
}
.totalPrice {
  float: right;
  letter-spacing: 1px;
}
.toOrderDiv {
  margin-top: 1rem;
}
.orderBtnDiv {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.orderItemBtn {
  text-align: center;
  outline: none;
  background: var(--dark-brown);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
  font-size: 1rem;
}
#payment_review {
  max-height: 75%;
}
.order-summary h5 {
  text-align: left;
}
.delivery-tag {
  display: inline-block;
  position: absolute;
  right: 100px;
  text-align: left;
  top: 24px;
  width: 128px;
  background-color: var(--dark-brown);
  color: white;
  padding: 5.5px 7.5px;
  border-top-left-radius: 10px;
}
.price-tag {
  display: inline-block;
  height: 125px;
  width: 125px;
  position: absolute;
  right: 24px;
  top: 10px;
  border: var(--dark-brown) 2px dotted;
  box-shadow: 0 0 0 1px white, 0 0 0 5px var(--dark-brown);
  border-radius: 50%;
  z-index: 100;
  background-color: white;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}

.price-tag h4 {
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #ea657c !important;
}
.tax-notice {
  font-size: 10px;
}
.tax-amount {
  font-size: 14px;
}
.btn {
  margin-top: 20px;
  background-color: var(--dark-brown);
  margin: 10px;
}
.fs-title {
  color: var(--dark-brown);
  margin-bottom: 5px;
  margin-top: -2rem;
}

/*Material Icons*/

.material-icons {
  color: var(--dark-brown);
}
.closeIcon {
  color: white;
}

.material-icons.active {
  color: var(--light-brown);
}

h4 {
  text-align: center;
}
/*form styles*/

#msform {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  flex-direction: row;
}

#msform fieldset {
  border: 0;
  /*stacking fieldsets above each other*/
  position: relative;
  display: block;
  min-width: 100%;
}

#msform .decoration {
  text-align: left;
  position: relative;
}
.more-then-fifteen {
  color: red;
  font-size: 9pt;
  text-align: left;
  margin-left: 43px;
  display: block;
}
.alertMsg {
  position: absolute;
  left: 0px !important;
  margin-top: -20px;
}
.payment_option h5 {
  text-align: left;
}
.payment-choice label {
  padding-right: 15px;
}
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: var(--dark-brown);
  border: 2px solid var(--dark-brown);
  border-radius: 50%;
}

[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid var(--dark-brown);
  border-radius: 50%;
}
.cash-notice {
  color: red;
  font-size: 9pt;
  text-align: center;

  display: block;
}

.paymentBtnDiv {
  margin-top: 1rem;
}
#modal_Checkout {
  /*max-height: 100% !important;*/
  overflow-x: hidden;
  height: 100vh;
}
#payment_review {
  max-height: 100% !important;
}
.marginTopSpace {
  margin-top: 0.5rem;
}
.headerPanelColor {
  background-color: pink !important;
}
.waves-light {
  background-color: #b1bf00 !important;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-animation: blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation: blink normal 1.5s infinite ease-in-out;
}
.extra-km-distance {
  font-size: 9pt;
  color: #ea657c;
}
.deliveryTime {
  color: #ea657c;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.deliveryTimeInWarenkorb {
  color: white;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  font-size: 0.8rem;
  line-height: 1;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.Title1 {
  background-image: none !important;
  color: var(--light-brown) !important;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  background-image: none !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  display: flex;
  background: var(--dark-brown);
  -ms-flex-pack: justify;
  justify-content: center;
  align-items: flex-end;
  height: 3rem;
  margin-top: 2px;
}
@keyframes blink {
  0% {
    background-color: #b1bf00;
  }
  50% {
    background-color: var(--dark-brown);
  }
  100% {
    background-color: #b1bf00;
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: #b1bf00;
  }
  50% {
    background-color: var(--dark-brown);
  }
  100% {
    background-color: #b1bf00;
  }
}

.hide-btn {
  display: none;
}
.emptyShoppingCartIconDiv {
  text-align: center;
  height: 6rem;
}
.emptyShoppingCartIcon {
  color: #757575 !important;
  font-size: 4rem;
  opacity: 0.5;
}
.emptyShoppingCartMsg {
  color: #757575;
  letter-spacing: 1px;
}
.lblPickUp_Checkbox {
  display: flex;
  padding-left: 0rem;
}
.badge {
  color: var(--dark-brown);
}
.selectDrpdnDiv {
  display: flex;
  margin-left: 0.7rem;
}
.displayShow {
  display: block;
  width: 40%;
  margin: 1rem 1rem;
  color: var(--dark-brown);
  border: 1px solid #757575;
  box-shadow: none;
  outline: none;
  margin-left: 0.6rem;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.brownColor {
  color: var(--dark-brown);
  font-size: 0.9rem;
}
.backButton {
  margin-left: -10px;
  display: inline-block;
  color: #757575;
  width: 50%;
  margin-top: -10px;
  line-height: 1;
}
.backBtnIcon {
  font-size: 2rem;
}
::ng-deep .pac-container {
  background-color: #fff;
  z-index: 1200;
  position: fixed;
  display: inline-block;
}

.more-then-five {
  color: red;
  font-size: 9pt;
  text-align: left;
  margin-left: 43px;
  display: block;
}
.alertMsg {
  position: absolute;
  left: 0px !important;
  margin-top: 0px;
}
.hidden {
  visibility: hidden;
}
.productInfo {
  margin-left: 1rem;
  font-size: 1rem;
}
.pizzaClass {
  font-size: 0.7rem;
  color: white;
  font-weight: 700;
  padding: 0.3rem 0.1rem;
  letter-spacing: 2px;
  text-transform: none;
}
.productInfoHeading {
  font-size: 1.3rem;
  text-align: left;
}
.productInfoSubHeading {
  font-size: 1rem;
  text-align: left;
  margin-top: 2rem;
  padding: 0rem 0.2rem;
}
.productInfo_Data {
  text-align: left;
  font-size: 0.8rem;
}
.arrowIcon {
  font-size: 1.2rem;
  margin-top: -0.6rem;
}
.productInfoAllergy {
  font-size: 0.8rem;
  margin-left: 1.2rem;
}
.productInfoFooter {
  font-size: 0.8rem;
  text-align: left;
  color: #757575;
}
.contactUsLink {
  color: blue;
  text-decoration: underline;
}
.modal_content_productInfo {
  overflow-x: hidden;
}
.agbDiv {
  margin-left: 2rem;
  margin-top: 1.5rem;
  text-align: left;
}
.agbSpan {
  font-size: 0.9rem;
  text-align: left;
  margin-left: -1rem;
  line-height: 2;
}
.extrasItem {
  width: 96%;
  word-break: break-all;
}
input,
textarea {
  color: var(--dark-brown) !important;
}

input:focus,
textarea:focus {
  color: var(--light-brown) !important;
}

.input-field[visibility] {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field[visibility="false"] {
  opacity: 0;
  transform: translateY(-20px);
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.redirect-cls {
  color: blue;
  letter-spacing: -1px;
  text-decoration: underline;
}
.closeModalDiv {
  position: absolute;
  right: -0.5rem;
  top: 0.2rem;
}

/* mobile view*/
.bottomSection {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: black;
  width: 100%;
  z-index: 52;
}
.qtyCountinMobile {
  position: absolute;
  background: #ea657c;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.9rem;
  color: white;
  display: inline-block;
  font-weight: 700;
  line-height: 1.9rem;
  /* margin-right: 0px; */
  margin-top: 1.4rem;
  left: 1.5rem;
  text-align: center;
  width: 1.9rem;
  font-size: 0.9rem;
}
.filter-div {
  width: 100%;
  position: fixed;
  z-index: 998;
}

@media (min-width: 1200px) {
  .incrDecBtn {
    width: 4vw;
  }
}

/* Large screen and ipad pro landscape mode */
@media only screen and (max-width: 1440px) {
  #onlineOrder {
    margin-top: 6.5rem;
  }
}

/* Large screen and ipad pro landscape mode */
@media only screen and (max-width: 1400px) {
  .totalPriceCount {
    width: 275px;
  }
}

/* ipad landscape and ipad pro*/
@media only screen and (max-width: 1024px) {
  #onlineOrder {
    margin-top: 6.7rem;
  }
  .mainOnlineOrder {
    width: 66%;
    top: 6.5rem;
  }
  .rightSection {
    width: 33%;
  }
  .itemCount {
    width: 4vw;
  }
  .totalPriceCount {
    width: 17vw;
    font-size: 1.5rem;
  }
}

.product-type-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -0.5rem;
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  .mainOnlineOrder {
    width: 100%;
    margin: 0;
  }
  .bottomSection {
    display: inline-block;
  }
  .totalPriceCount {
    width: 199px;
  }
  .cartIcon {
    font-size: 2rem;
  }
  .qtyCountinMobile {
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
  }
  #payment_review {
    height: 100vh;
  }
  .delivery-tag {
    right: 33px;
    width: 98px;
    padding: 0;
    padding-left: 3px;
    top: 15px;
  }
  .price-tag {
    height: 70px;
    width: 70px;
    right: 0;
  }
  .price-tag h4 {
    margin-top: 15px;
    font-size: 1rem;
  }
  .incrDecBtnDiv {
    width: 40vw;
  }
  .agbSpan {
    margin-top: -2rem;
  }
}

/* ipad portrait*/
@media only screen and (max-width: 768px) {
  #onlineOrder {
    margin-top: 7rem;
  }
  .mainOnlineOrder {
    width: 100%;
    margin: 0;
  }
  .totalPriceCount {
    width: 14vw;
    font-size: 1rem;
  }
  .cartIconLaptopView {
    right: 0.5rem;
  }
  .itemCount {
    font-size: 1rem;
    width: 4vw;
  }
  .bottomSection {
    display: inline-block;
  }
  .cartIcon {
    font-size: 2rem;
  }
  .qtyCountinMobile {
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
  }
  .delivery-tag {
    right: 35px;
    top: 0;
  }
  .price-tag {
    height: 100px;
    width: 100px;
    right: -10px;
    top: 0;
  }
  .cartContainDiv {
    max-height: 35rem;
  }
  .extrasItem {
    width: 38%;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen and (min-width: 428px) and (max-width: 926px) {
  .incrDecBtnDiv {
    width: 70vw;
  }
  .incrDecBtn {
    width: 9vw;
  }
  .itemCount {
    width: 12vw;
  }
  .totalPriceCount {
    width: 36vw;
  }
  .readMoreLessBtnDiv {
    width: 70vw;
  }
  .fs-title {
    padding-top: 7rem;
  }
  .drop-icon-div_UpArrowWithMargin {
    margin-top: 23.7rem;
  }
  #modal_Checkout {
    height: 90vh;
  }
}

/* Potrait iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL */
@media only screen and (max-width: 414px) {
  #onlineOrder {
    margin-top: 7rem;
  }
  .mainOnlineOrder {
    width: 100%;
    margin: 0;
  }
  #payment_review {
    height: 88vh;
  }
  #modal_Checkout {
    /*max-height: 100% !important;*/
    overflow-x: hidden;
    height: 89vh;
  }
  .MenuTitle {
    font-size: 1.3rem;
  }
  .Title {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 0.7rem;
  }
  .subTitle {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .lightGrayText {
    color: #757575;
    letter-spacing: 0px;
    width: 80%;
    font-size: 0.9rem;
  }
  .extraInfoText {
    color: #757575;
    letter-spacing: 0px;
    width: 80%;
    font-size: 0.7rem;
  }
  .incrDecBtnDiv {
    width: 70vw;
  }
  .incrDecBtn {
    width: 9vw;
  }
  .itemCount {
    width: 12vw;
  }
  .totalPriceCount {
    width: 36vw;
  }
  .closeBtn {
    text-align: center;
    outline: none;
    background: #ea657c;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 1rem;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-weight: 100;
    color: white;
  }
  .closeBtn:hover {
    background-color: #b1bf00;
  }
  .modal .modal-content {
    padding-top: 0 !important;
  }
  .cart {
    margin-top: 2.9rem;
  }
  .checkOutBtnDiv {
    width: 100%;
  }
  .price-tag {
    height: 100px;
    width: 100px;
    right: -13px;
    top: 2rem;
  }
  .price-tag h4 {
    margin-top: 26px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  .order-summary {
    padding-top: 2rem;
  }
  .delivery-tag {
    right: 35px;
    text-align: left;
    top: 2.5rem;
    width: 128px;
    z-index: 50;
  }
  .fs-title {
    font-size: 2rem;
    padding: 1rem;
    padding-top: 7.5rem;
    padding-bottom: 0rem;
  }
  .modalFooterMargin {
    margin-top: 1rem;
  }
  .extraTextMargin {
    margin-top: 3rem;
  }
  .extraTextBtn {
    width: 35vw;
  }
  textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 1.8rem 0 1.6rem 0 !important;
  }
  .input-field .prefix ~ label {
    margin-left: 2rem !important;
  }
  .orderBtn {
    height: 4.5rem;
  }
  .orderBtnMobile {
    height: 3.5rem;
    font-size: 1.5rem;
  }
  .orderBtnMobile:hover {
    background-color: #ea657c !important;
  }
  .cartContainDiv {
    max-height: 12.7rem;
  }
  .bottomSpaceManage {
    display: inline-block;
    width: 100%;
    min-height: 12vh;
    max-height: 12vh;
    background: white;
    overflow: hidden;
  }
  .filter-div {
    width: 100%;
    position: absolute;
  }
  .agbDiv {
    margin-top: 0rem;
  }
  .agbSpan {
    margin-top: 0rem;
    line-height: 20px;
  }
}

/* Potrait iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3  */
@media only screen and (max-width: 375px) {
  .totalPriceCount {
    width: 33vw;
  }
  .collapsein {
    margin: 0.5rem;
  }

  .itemCount {
    width: 17.2%;
  }
  .checkOutBtnDiv {
    width: 100%;
  }
  .cartContainDiv {
    max-height: 9.7rem;
  }
  .orderBtn {
    height: 4.5rem;
  }
  .orderBtnMobile {
    height: 3.5rem;
  }
  .orderBtnMobile:hover {
    background-color: #ea657c !important;
  }
  .backBtnIcon {
    font-size: 2rem;
  }
  #payment_review {
    height: 89vh;
  }
  #modal_Checkout {
    overflow-x: hidden;
    height: 86vh;
  }
  .filter-div {
    width: 100%;
    position: absolute;
  }
  .agbDiv {
    margin-top: 2rem;
  }
  .agbSpan {
    line-height: 1.5 !important;
    margin-top: -2rem;
  }
  .fs-title {
    padding-top: 7.5rem;
  }
}

/* Landscape iPhone 6/7/8/X/XS, Galaxy S5/S9/Note 3*/
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .totalPriceCount {
    width: 150px !important;
  }
  #payment_review {
    height: 100vh;
  }
  .delivery-tag {
    right: 35px;
    width: 78px;
    padding: 0;
  }
  .price-tag {
    height: 70px;
    width: 70px;
  }
  .price-tag h4 {
    margin-top: 15px;
    font-size: 1rem;
  }
  .incrDecBtnDiv {
    width: 40vw;
  }
  .agbSpan {
    margin-top: -2rem;
  }
}

/* Landscape iPhone 6 Plus/7 Plus/8 Plus/XR/XS Max, Galaxy Note 9, Nexus 5X/6P, Pixel 2/2XL*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
  .totalPriceCount {
    width: 177px;
  }
  .itemCount {
    width: 26px;
  }
  #payment_review {
    height: 100vh;
  }
  .delivery-tag {
    right: 35px;
    width: 78px;
    padding: 0;
  }
  .price-tag {
    height: 70px;
    width: 70px;
  }
  .price-tag h4 {
    margin-top: 15px;
    font-size: 1rem;
  }
  .incrDecBtnDiv {
    width: 40vw;
  }
  .agbSpan {
    margin-top: -2rem;
  }
}

/*mobile view end*/
