/*Temp style for development*/

@font-face {
  font-family: "stRyde";
  font-display: fallback;
  src: url("../src/assets/StRydeRegular.woff") format("woff"), url("../src/assets/StRydeRegular.ttf") format("truetype"),
    url("../src/assets/StRyde-Regular.otf") format("otf");
}

html {
  font-family: stRyde, Arial, Helvetica, sans-serif;
}

section .temp-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.temp {
  position: relative;
  height: 100vh;
}

section.temp {
  box-shadow: inset 0px 0px 0px 5px #da7654;
}

/*Temp style | ends*/

/* Colour definitions */

:root {
  --dark-brown: rgb(76, 29, 12);
  --light-brown: rgb(188, 151, 86);
  --light-green: rgb(177, 191, 0);
  --dark-green: rgb(153, 153, 0);
  --light-pink: rgb(234, 101, 124);
  --dark-pink: rgb(211, 79, 115);
}

.green-Materialize {
  background-color: rgb(153, 153, 0);
  /* color: rgb(153, 153, 0); */
}

.red-Materialize {
  background-color: rgb(211, 79, 115);
  /* color: rgb(211, 79, 115); */
}

/* Colour definitions | end */

/* Global Styles */

a {
  font-family: stRyde, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.input-field textarea:focus + label,
.input-field select:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="tel"]:focus + label,
.input-field input[type="password"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="number"]:focus + label {
  color: var(--light-brown) !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--light-brown);
}

.input-field input[type="text"]:focus,
.input-field input[type="tel"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="number"]:focus {
  border-bottom: 1px solid var(--light-brown) !important;
  box-shadow: 0 1px 0 0 var(--light-brown) !important;
  color: var(--light-brown);
}

.input-field textarea:focus {
  border-bottom: 1px solid var(--light-brown) !important;
  box-shadow: 0 1px 0 0 var(--light-brown) !important;
}

.no_margin {
  margin: 0;
}

a {
  padding: 2px;
  color: #fafafa;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 3px solid transparent;
}

.picker__date-display {
  background-color: var(--light-brown);
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: var(--light-brown);
}

.picker__close,
.picker__today {
  color: var(--dark-brown);
}

button.picker__today:focus,
button.picker__clear:focus,
button.picker__close:focus {
  background-color: var(--dark-brown);
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  background-color: var(--light-brown);
}

.picker_holder {
  background: rgba(0, 0, 0, 0);
  overflow-y: unset;
}

.clockpicker-canvas-bg,
.clockpicker-canvas-bearing {
  fill: var(--light-brown);
}

.clockpicker-canvas line {
  stroke: var(--light-brown);
}

.clockpicker-tick.active,
.clockpicker-tick:hover {
  background-color: var(--light-brown);
}

iframe {
  min-width: 100%;
  height: stretch;
  /* min-height: 960px; */
  border-width: 0px;
  overflow: auto;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: -6px;
}

.cakeform-nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/*DK Team upgrade*/
[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 15px;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(76, 29, 12);
  background-color: rgb(76, 29, 12);
  z-index: 0;
}
.checkAGBforTable span.badge {
  margin-left: 5px !important;
}
.newsletterConsentTable span.badge {
  margin-left: 5px !important;
}
.newsletterConsentEvent span.badge {
  margin-left: 5px !important;
}

.checkAGBforEvent span.badge {
  margin-left: 5px !important;
}

span.badge {
  margin-left: 0px;
}

.datepicker-date-display {
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-today .is-selected .datepicker-day-button {
  background-color: var(--light-brown);
}

.datepicker-table td.is-today {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3) !important;
}

.datepicker-table td.is-selected {
  background-color: var(--light-brown);
  color: #fff;
}

/* .datepicker-cancel,
.datepicker-clear,
.datepicker-today, */

.datepicker-done {
  color: var(--dark-brown);
  padding: 0 1rem;
}

[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid var(--dark-brown);
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: var(--dark-brown);
}

.swal2-container .select-wrapper {
  display: none !important;
}

.datepicker-footer .datepicker-cancel {
  display: none;
}

.file-field .file-path-wrapper {
  overflow: hidden;
  padding-left: 0px;
}
textarea.materialize-textarea {
  min-height: 13rem;
  padding-left: 10px;
  margin-top: 25px;
}

.select-wrapper * {
  transition: none !important;
  transform: none !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 20px;
  height: 40px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--dark-brown);
  border-bottom: 2px solid var(--dark-brown);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/*DK Team upgrade*/

@media (max-width: 959.95px) and (min-width: 0px) {
  .cakeform-nav {
    background-color: var(--dark-brown);
    background-image: url("./assets/patterns/background_pattern_dark.jpg");
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

/* @media (max-width: 959.95px) and (min-width: 0px){
	.footer_sultan_bg{
		display: none !important;
	}
	} */

/* Global Styles | end */
