.modal-content p {
    font-size: 12px;
    color: var(--dark-brown);
    text-align: justify;
  }
  
  .modal-content a {
    color: blue;
  }
  
  .modal-content h3 {
    color: var(--dark-brown);
  }
  
  .modal-content h4 {
    text-align: justify;
    color: var(--light-brown);
  }
  
  .modal-content h5 {
    text-align: left;
    color: var(--light-brown);
    text-justify: auto;
  }
  
  .modal-content h6 {
    text-align: left;
    color: var(--dark-brown);
    text-justify: auto;
  }
  
  .modal-content ul {
    text-align: left;
    color: var(--dark-brown);
  }
  
  .modal-content h2 {
    color: var(--dark-brown);
    text-align: left;
    text-justify: inter-word;
  }
  
  .modal-content {
    text-align: justify;
    text-justify: inter-word;
  }
  
  span {
    font-size: 0.9em;
  }
  
  .footer_gold_border {
    width: auto;
    height: 5px;
    background-color: var(--light-brown);
  }
  
  .footer_pink_border {
    width: auto;
    height: 5px;
    background-color: var(--dark-pink);
  }
  
  .page-footer {
    /* background-color: var(--dark-brown);
    color: var(--light-brown);
    background-image: url("../assets/patterns/background_pattern_dark.jpg"); */
    bottom: -2px;
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 10;
  }
  
  .footer_logo_wrapper {
    z-index: 666;
    position: absolute;
    right: 0vw !important;
    top: -1vw !important;
  }
  
  .footer_details_wrapper {
    text-align: center;
  }
  
  .footer_details_wrapper a {
    cursor: pointer;
    color: var(--light-brown);
    font-weight: 400;
    /*font-size: 1.3vw !important;*/
  }
  
  .footer_sultan {
    width: 6vw;
    position: absolute;
    transform: translate(-50%, -50%);
    /* filter: drop-shadow(); */
  }
  /* .qrCodeDiv {
    position: absolute;
    right: 2.5rem;
    top: 0.8rem;
  } */
  /* .qrCodeImg {
    height: 140px;
  } */
  
  .customVerticalLine {
    display: none;
  }
  
  .footer_sultan_bg {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: var(--dark-brown);
    background-image: url("../assets/patterns/background_pattern_dark.jpg");
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .page-footer .footer-copyright {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-image: url("../assets/patterns/background_pattern_light.jpg"); */
    background-image: url("../assets/patterns/background_pattern_dark.jpg");
    position: relative;
    min-height: 20px;
    text-align: center;
    font-size: 35px;
  }
  
  .page-footer .footer-copyright .copyright_company {
    top: 50%;
    transform: translate(-50%, -50%);
    /* color: var(--dark-brown); */
    color: var(--light-brown);
  }
  
  .page-footer .social_logos {
    position: absolute;
    bottom: 25%;
    right: 1vw;
    height: 38px;
  }
  
  .page-footer .social_logos img {
    padding-left: 10px;
  }
  
  .page-footer .social_logos a,
  .page-footer .social_logos img {
    height: 100%;
  }
  
  @media (max-width: 1000px) {
    .footer_details_wrapper {
      margin-top: 20px;
    }
    .impressum-modal {
      height: 30%;
    }
    /* .qrCodeDiv{
      position: inherit;
      margin-left: -0.6rem;
    }
    .verticalHeightCustom {
      height: 140px;
    } */
  }
  
  @media (max-width: 600px) {
    .footer_details_wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .footer_content_container .row {
      width: 100%;
    }
    .footer_sultan {
      display: none;
      /* filter: drop-shadow(); */
    }
   
    .footer_sultan_bg {
      display: none;
    }
    .social_logos {
      height: 1em !important;
      bottom: 1.5em !important;
      top: 12px !important;
    }
    .page-footer .footer-copyright {
      text-align: left;
    }
    .impressum-modal {
      height: 45%;
    }
  }
  
  @media (min-width: 601px) {
    .FooterText {
      margin-left: 8vw;
      width: 60vw;
    }
    .page-footer .footer_content_container {
      padding: 50px;
      position: relative;
    }
    .FooterText {
      /*display: flex !important;*/
      width: 100% !important;
      margin-left: -2vw !important;
    }
    .footer_left_rule {
      padding-left: 20px;
      /* Gradient border for footer sections */
      border-left-width: 2px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      border-right-width: 0px;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--light-brown)), to(rgba(0, 0, 0, 0))) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(var(--light-brown), rgba(0, 0, 0, 0)) 1 100%;
      -moz-border-image: -moz-linear-gradient(var(--light-brown), rgba(0, 0, 0, 0)) 1 100%;
      -o-border-image: -o-linear-gradient(var(--light-brown), rgba(0, 0, 0, 0)) 1 100%;
      border-image: linear-gradient(to bottom, var(--light-brown), rgba(0, 0, 0, 0)) 1 100%;
    }
    .impressum-modal {
      height: 40%;
    }
  }
  
  .close-button {
    color: #fff;
    background-color: var(--dark-brown);
  }
  
  .close-button:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  
  .icon-size {
    font-size: 1em;
  }
  